.App {
  text-align: center;
  margin: 20px;
}

table {
  border-collapse: collapse;
  width: 200px;
  margin: auto;
}

th, td {
  border: 2px solid #0b0b0b;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}
